* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Open Sans Reg";
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light.ttf") format("ttf");
}

.header {
  position: relative;
}

.inner {
  z-index: 3;
  position: relative;
}

.download {
  font-family: "Open Sans Reg", Georgia, sans-serif;
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.header:before, .header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header:before {
  -webkit-background-size: cover;
  background-size: cover;
  background: no-repeat center;
  z-index: 1;
}

.header:after {
  background-color: rgba(28, 31, 64, 0.9);
  z-index: 2;
}

.logo-text {
  width: 133px;
  height: 36px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 60px;
  height: 50px;

}

.heading {
  font-family: "Open Sans Bold", Georgia, sans-serif;
  text-transform: uppercase;
}

.header__heading {
  font-size: 2.8rem;
  color: #ffffff;
}

.robot__heading {
  color: #e7e7e7;
}

.negro-appeals-list__heading {
  font-size: 2.3rem;
  color: #c1c1c1;
  padding-left: 2.7rem;
}

.appeals {
  position: relative;
}

.appeals__heading {
  font-size: 2.8rem;
  color: #e7e7e7;
}

.footer__heading {
  color: #ffffff;

}

.negro-appeals-list {
  position: relative;
  list-style: none;
}

.negro-appeals-list__item {
  position: relative;
  background-color: #fafafa;
}

.negro-appeals-list__item:before {
  position: absolute;
  display: block;
  content: '01';
  font-size: 1.4rem;
  color: #212121;
  font-family: "Open Sans Bold", Georgia, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 4px;
  border-bottom: 4px solid #5e42b0;

}

.negro-appeals-list__item--second {
  background-color: #f5f4f9;

}

.negro-appeals-list__item--second:before {
  content: '02';
}

.negro-appeals-list__item--third {
  background-color: #090c35;
}

.negro-appeals-list__item--third:before {
  content: '03';
  color: #8765dd;
  border-bottom-color: #ffffff;
}

.text {
  font-family: "Open Sans Reg", Georgia, sans-serif;
  line-height: 2rem;
}

.text--white {
  color: #ffffff;
}

.robot__text {
  font-size: 15px;
}

.appeals__text {
  font-size: 1.6rem;
}

.footer__logo {
  fill: #ffffff;
}

.footer {
  position: relative;
}

.footer__text {
  color: #9b8ec1;
  text-transform: uppercase;
  text-align: center;
}

.footer:before, .footer:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer:before {
  -webkit-background-size: cover;
  background-size: cover;
  background: no-repeat center;
  z-index: 1;
}

.footer:after {
  background-color: rgba(28, 31, 64, 0.9);
  z-index: 2;
}

@media (min-width: 300px) and (max-width: 640px) {
  .header {
    padding-top: 32px;
    padding-bottom: 84px;
  }

  .inner {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__heading {
    font-size: 2.8rem;
    margin-bottom: 90px;
  }

  .header__download, .footer__download {
    font-size: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 110px;
    background-color: #5e42b0;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
  }

  .header__download:nth-of-type(2),
  .footer__download:nth-of-type(2) {
    margin-top: 16px;
  }

  .header:before {
    background-image: url("../images/football_767.jpg");
  }

  .header__logo-text,
  .footer__logo-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 136px;
  }

  .footer__logo {
    fill: #ffffff;
  }

  .heading__first, .heading__second {
    display: block;
  }

  .heading__second {
    margin-left: 1.52em;
  }

  .header__download--first,
  .header__download--second,
  .footer__download--first,
  .footer__download--second {
    display: block;
    position: relative;
  }

  .header__download--first:before,
  .header__download--second:before,
  .footer__download--first:before,
  .footer__download--second:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -30px;
    width: 22px;
    height: 22px;
  }

  .header__download--apple:before,
  .footer__download--apple:before {
    background-image: url("../images/svg/apple_logo_black.svg");
  }

  .header__download--google:before,
  .footer__download--google:before {
    background-image: url("../images/svg/google-play.svg");
  }

  .robot {
    padding-top: 25px;
    position: relative;
  }

  .robot__heading {
    margin-left: 20px;
    font-size: 5rem;
  }

  .robot__img {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 98px;
    max-width: calc(100% - 10px);
    z-index: 2;
  }

  .robot__img--footballer {
    left: 70px;
  }

  .robot__img--backetballer {
    left: 9px;
  }

  .robot__inner {
    margin-top: 233px;
  }

  .negro-appeals-list {
  }

  .negro-appeals-list__item {
    background-color: #fafafa;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .item-inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .negro-appeals-list__item--second {
    background-color: #f5f4f9;
  }

  .negro-appeals-list__item--third {
    background-color: #5e42b0;
  }

  .negro-appeals-list__item:before {
    top: 80px;
    left: 20px;
  }

  .negro-appeals-list__heading {
    margin-bottom: 30px;
  }

  .appeals__img {
    max-width: 100%;
    margin-bottom: calc(36px - 1em);
  }

  .appeals__heading {
    margin-bottom: 24px;
  }

  .appeals {
    padding-bottom: 80px;
  }

  .appeals__heading {
    position: relative;
  }

  .appeals__heading:before {
    content: '01';
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -85px;
    left: 0;
    font-size: 14px;
    font-family: "Open Sans Bold", Georgia, sans-serif;
    color: #ffffff;
    padding: 20px 27px 30px;
    background-color: #5e42b0;
    z-index: 2;
  }

  .appeals__heading:after {
    content: '';
    display: block;
    position: absolute;
    top: -45px;
    left: 26px;
    height: 0;
    width: 16px;
    border-top: 4px solid #8f7bc8;
    z-index: 2;
  }

  .appeals__heading--be-active:before {
    content: '01';
  }

  .appeals__heading--find-contact:before {
    content: '02';
  }

  .appeals__heading--work-it:before {
    content: '03';
  }

  .appeals-inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .footer:before {
    background-image: url("../images/game_767.jpg");
  }

  .footer__logo {
    width: 75px;
    height: 75px;
    padding: 14px 8px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    background-color: #6e4fca;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .footer__heading {
    font-size: 3.2rem;
    text-align: center;
  }

  .footer__text {
    font-size: 1.4rem;
    color: #9b8ec1;
    text-transform: uppercase;
    margin-bottom: 76px;
    margin-left: 8px;
  }

  .footer__download:nth-of-type(2) {
    margin-bottom: 80px;
  }

  .footer__logo-text {
    margin-bottom: 0;
  }

}

@media (min-width: 641px) and (max-width: 960px) {

  /**************************************
   * header
   *************************************/
  .header {
    padding-top: 38px;
    padding-bottom: 90px;
  }

  .header:before {
    background-image: url("../images/football_1280.jpg");
    -webkit-background-size: cover;
    background-size: cover;
  }

  .inner {
    width: calc(100% - 18px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;

  }

  .header__logo-text,
  .footer__logo-text {
    width: 215px;
    height: 57px;
    margin-bottom: 180px;
    align-self: center;
  }

  .header__heading {
    font-size: 64px;
    letter-spacing: 0.05em;
    margin-bottom: 312px;
    display: flex;
    flex-direction: column;
  }

  .heading__first {
    margin-left: 57px;
    align-self: flex-start;
  }

  .heading__second {
    margin-left: 165px;
    align-self: flex-end;

  }

  .header__download, .footer__download {
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 110px;
    background-color: #5e42b0;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;

    flex: 0 0 312px;
  }

  .inner__wrapper-download {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .header__download:first-of-type,
  .footer__download:first-of-type {
    margin-left: auto;
    margin-right: 15px;
  }

  .header__download:last-of-type,
  .footer__download:last-of-type {
    margin-right: auto;
    margin-left: 15px;
  }

  .header__download--apple,
  .header__download--google {
    font-family: "Open Sans Light", Georgia, sans-serif;
  }

  .footer__download--second,
  .header__download--second {
    font-family: "Open Sans Bold", Georgia, sans-serif;
  }

  .header__download--first,
  .header__download--second,
  .footer__download--first,
  .footer__download--second {
    position: relative;
  }

  .header__download--first:before,
  .header__download--second:before,
  .footer__download--first:before,
  .footer__download--second:before {
    content: '';
    position: absolute;
    top: 0;
    left: -68px;
    width: 36px;
    height: 36px;
  }

  .header__download--apple:before,
  .footer__download--apple:before {
    background-image: url("../images/svg/apple_logo_black.svg");
  }

  .header__download--google:before,
  .footer__download--google:before {
    background-image: url("../images/svg/google-play.svg");
    left: -64px;
  }

  /************************************
   * footer
   ***********************************/
  .footer {
    padding-top: 200px;
    padding-bottom: 21px;
  }

  .footer:before {
    background-image: url("../images/game_1280.jpg");
  }

  .footer__logo {
    width: 102px;
    height: 84px;
    padding: 25px 12px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #6e4fca;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 82px;
    box-sizing: content-box;
  }

  .footer__heading {
    font-size: 80px;
    letter-spacing: 0.05em;
    margin-bottom: -6px;
    text-align: center;
  }

  .footer__text {
    font-size: 36px;
    letter-spacing: 0;
    margin-bottom: 290px;
    line-height: 1.4;
  }

  .inner__wrapper-download--footer {
    margin-bottom: 55px;
  }

  .footer__logo-text {
    margin-bottom: 20px;
  }

  .footer:before {
    background-image: url("../images/game_1280.jpg");
    -webkit-background-size: cover;
    background-size: cover;
  }

  /*********************
   *  robots
   ********************/
  .robot {
    position: relative;
    padding-top: calc(85px - 2em - 10px);
  }

  .robot__heading {
    font-size: 80px;
    letter-spacing: 0;
    width: 58%;
    margin-left: auto;
    margin-bottom: calc(60px - 0.47em - 24px);
  }

  .robot__heading--players {
    margin-left: 20px;
    margin-right: auto;

  }

  .negro-appeals-list__heading {
    font-size: 32px;
    letter-spacing: 0.05em;
    margin-bottom: calc(35px - 16px);
  }

  .robot__text {
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.7em;
  }

  .item-inner {
    width: 58%;
    margin-left: auto;
    padding-right: 20px;
  }

  .item-inner--players {
    margin-left: 0;
    margin-right: auto;
    padding-left: 20px;
  }

  .negro-appeals-list__item:before {
    top: 30px;
    left: calc(42% + 0px);
    font-size: 18px;
    letter-spacing: 0.05em;
  }

  .negro-appeals-list__item--players:before {
    left: 20px;
  }

  .robot__img {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 90px;
    right: calc(55% - 10px);
    max-width: 100%;
    z-index: 2;
  }

  .robot__img--players {
    top: 40px;
    right: 0;

  }

  .negro-appeals-list__item {
    min-height: 235px;
    padding-top: 30px;
  }

  .negro-appeals-list__item--first {
    background-color: #ffffff;
  }

  /*********************************
   * appeals
   ********************************/
  .appeals-inner {
    padding-left: 20px;
    max-height: 338px;

  }

  .appeals__img {
    margin-bottom: calc(90px - 4px);
  }

  .appeals__heading {
    font-size: 80px;
    color: rgba(193, 193, 193, 0.4);
    letter-spacing: 0;
    line-height: 0.75;
    margin-bottom: calc(43px - 5px);
  }

  .appeals__text {
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 1.167;
    margin-bottom: calc(103px - 4px);
  }

  .appeals__heading {
    position: relative;
  }

  .appeals__heading:before {
    content: '01';
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -175px;
    left: 0;
    font-size: 24px;
    font-family: "Open Sans Bold", Georgia, sans-serif;
    color: #ffffff;
    padding: 42px 45px 54px;
    background-color: #5e42b0;
    z-index: 2;
  }

  .appeals__heading:after {
    content: '';
    display: block;
    position: absolute;
    top: -107px;
    left: 48px;
    height: 0;
    width: 20px;
    border-top: 5px solid #8f7bc8;
    z-index: 2;
  }

  .appeals__heading--be-active:before {
    content: '01';
  }

  .appeals__heading--find-contact:before {
    content: '02';
  }

  .appeals__heading--work-it:before {
    content: '03';
  }

}
